body {
    width: auto;
    height: auto;
    margin : 0; 
    padding: 0; 
    text-decoration: none;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    color: #3E2278;
    font-size: 1.125vw;
}

/* Header SideBar */

#menuSideBar {
    display: none;
}

#burgerMenu{
    display: none;
}

/* Header */

header {
    width: 100%;
    height: 14vh;
    background-color: #FDEDED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em;
    position: fixed;
    z-index: 10;
}

header .headerSection {
    width: 30%;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .headerSection a {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #3E2278;
    transition: 0.3s;
}

header .headerSection a:hover {
    color: #DD897A;
}

header #logo {
    width: 40%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header #logo h1 {
    margin: 0;
    font-family: 'Schoolbell', cursive;
    font-size: 2em;
    color: #DD897A;
}

/* Responsive Header */

@media screen and (max-width: 1366px){
    header #logo{
        margin-top: 1vh;
    }
}

@media screen and (max-width: 1280px){
    header #logo h1 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 1024px){
    header {
        height: 10vh;
    }

    header #logo h1 {
        font-size: 3em;
    }

    header .headerSection{
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .headerSection a{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 768px){
    .headerSection a{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 414px){

    #headerContainer .headerSection{
        display: none;
    }

    #headerContainer{
        display: flex; 
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 3;
    }

    #burgerMenu{
        display: flex; 
        width: 15%;
        object-fit: cover;
        margin: 0;
        position: absolute;
        left: 5vw;
    }

    #headerContainer #logo #imageLogo{
        width: 25%;
        object-fit: cover;
        margin: 0;
    }

    #headerContainer #logo h1{
        font-size: 4em;
        margin: 0;
    }

    /* Menu SideBar */

    #menuSideBar{
        width: 100%;
        height: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 15;
        position: fixed;
        background-color:#FACFCE ;
        transform: translateX(-100%);
        transition: 1s;
    }

    #burgerSideBar{
        width: 15%;
        height: 8%;
        object-fit: cover;
        margin-left: 4vw;
    }

    #navBurger{ 
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        height: 45%;
        margin-left: 6vw;
    }

    #navBurger a{
        text-decoration: none;
        font-size: 8em;
    }

    .open{
        transform: translateX(0%)!important;
        transition: 1s;
    }
}

@media screen and (max-width: 320px){}

/* Section principale */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 0;
    font-family: 'Indie Flower', cursive;
    color: #DD897A;
    font-size: 3em;
}

.questionBox{
    background: #FACFCE;
    height: 15vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questionBox p{
    font-family: 'Indie Flower', cursive;
    font-size: 1.75em; 
    margin: 5px;
}

.lirePlus{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1.5px  #3E2278 solid;
    color: #3E2278;
}

.lirePlus a{
    text-decoration: none;
}

.lirePlus p {
    font-size: 1vw;
    font-weight: 600;
    margin: 0;
}

.plus {
    font-size: 1.5em;
    font-weight: 400;
}

#boutonViolet{
    background-color: #674F98;
    color: #ffffff;
    padding: 1vw 3vw;
    border: none; 
}

/* Footer */

#footerContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDEDED;
    font-family: 'Barlow', sans-serif;
}

/* Newsletter du Footer */

#newsletter {
    width: 51vw;
    margin: 4% 0 4% 0;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FACFCE;
    font-size: 1.5em; 
    color: #3E2278;
}

footer #newsletter #newsletterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer #newsletter #newsletterForm #input input {
    width: 30vw;
    height: 4vh;
    background: #FACFCE;
    border: none;
    border-bottom: 1px solid #674F98;
}

footer #newsletter #newsletterForm #input input::placeholder {
    color: rgba(62, 34, 120, 0.5);
    font-size: 1.5em;
}

footer #newsletter #newsletterForm #input button {
    border: none;
    font-size: 0.875em;
}

footer #newsletter #newsletterForm #checkbox label {
    font-size: 0.6em;
}

/* Reste du Footer */

footer #infosFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

footer #infosFooter p {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    color: #DD897A;
}

footer #infosFooter ul li {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em; 
    list-style: none;
}

footer #infosFooter ul li a {
    color: #DD897A;
    text-decoration: none;
}

footer #infosFooter div {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Footer Responsive */

@media screen and (max-width: 1024px){
    #footerContainer{
        height: 30vh;
    }

    #arbo, #etc a{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px){
    #footerContainer{
        height: 40vh;
    }

    #newsletter{
        margin-top: 2vw;
    }

    #socialNetworks a{
        margin-right: 1vw;
    }
}

@media screen and (max-width: 414px){
    #footerContainer{
        height: 30vh;
    }

    #newsletter{
        width: 100%;
        height: 35vh;
        margin: 0;
    }

    #newsletterForm{
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #socialNetworks img{
        width: 90%;
    }

    footer #newsletter #newsletterForm #input input::placeholder {
        font-size: 1em;
    }
}