body {
    width: auto;
    height: auto;
    margin : 0; 
    padding: 0; 
    text-decoration: none;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    color: #3E2278;
}

/* Header */

header {
    width: 100%;
    height: 14vh;
    background: #FDEDED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em;
}

header #menu {
    display: none;
}

header .headerSection {
    width: 30%;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .headerSection a {
    text-decoration: none;
    font-weight: 600;
    color: #3E2278;
}

header #logo {
    width: 40%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #logo h1 {
    margin: 0;
    font-family: 'Schoolbell', cursive;
    font-size: 2.5em;
    color: #DD897A;
}

/* Section principale */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 0;
    font-family: 'Indie Flower', cursive;
    color: #DD897A;
    font-size: 3em;
}

.questionBox{
    background: #FACFCE;
    height: 15vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}

.questionBox p{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    margin: 5px;
}

.lirePlus{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1.5px  #3E2278 solid;
    margin-top: 3vw;
    color: #3E2278;
}

.lirePlus p {
    font-size: 0.875;
    font-weight: 600;
    margin: 0;
}

.plus {
    font-size: 1.5em;
    font-weight: 400;
}

#boutonViolet{
    background-color: #674F98;
    color: #ffffff;
    padding: 1vw 3vw;
}

/* Footer */

footer {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FDEDED;
    font-family: 'Barlow', sans-serif;
}

/* Newsletter du Footer */


#footerContainer{
    height: 80vh;
}

footer #newsletter {
    width: 51vw;
    height: 28vh;
    margin: 4% 0 4% 0;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FACFCE;
    font-size: 1.25em;
    color: #3E2278;
}

footer #newsletter #newsletterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer #newsletter #newsletterForm #input input {
    width: 30vw;
    height: 4vh;
    background: #FACFCE;
    border: none;
    border-bottom: 1px solid #674F98;
}

footer #newsletter #newsletterForm #input input::placeholder {
    color: rgba(62, 34, 120, 0.5);
    font-size: 1.5em;
}

footer #newsletter #newsletterForm #input button {
    border: none;
    font-size: 0.875em;
}

footer #newsletter #newsletterForm #checkbox label {
    font-size: 0.6em;
}

/* Reste du Footer */

footer #infosFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 4vh;
}

footer #infosFooter p {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    color: #DD897A;
}

footer #infosFooter ul li {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5em;
    list-style: none;
}

footer #infosFooter ul li a {
    color: #DD897A;
    text-decoration: none;
}

footer #infosFooter div {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
