/* Ligne Header */

header .headerSection #lienOffres {
    border-bottom: 1px solid #3E2278;
    transition: 0.3s;
}

header .headerSection #lienOffres:hover {
    color: #DD897A;
    border-bottom: 1px solid #DD897A;
}

/* Offres */

#offresSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 25vh 0 15vh 0;
    position: relative;
}

#offresBox{
    display: flex;
    width: 70vw;
    height : 50vh;
}

.offresText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.offresText h3{
    text-transform: uppercase;
    font-size: 3.75vw;
    font-weight: 600;
    margin: 3% 0 0 4%;
}

.offresP{
    font-weight: 600;
    margin-left: 4%;
    font-size: 1.250vw;
}

button{
    border: none;
    background: none ;
}

#offresPlus{
    width: 50vw;
    margin: 3% 0;
}

#offreClassique .offresText{
    background: #FACFCE;
}

#offreDecouverte .offresText{
    background: #DD897A;
}

#offreEssentielle .offresText{
    background: #AC9FC6;

}

/* SLIDERS */

#slidesText {
    position: relative;
    height: 50vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 35vw;
}

.slideText {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 1;
    z-index: 1;
    height: 50vh;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#slidesImg {
    width: 35vw;
    height: 50vh;
    overflow: hidden;
}

#slidesImg img {
    display: inline-block;
    width: 35vw;
}

#sliderImgWrapper {
    width: 105vw;
    transition: 0.7s;
}

.sliderImgBox{
    display: inline-block;
    width: 35vw;
    height: 50vh;
}

.sliderImgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#control{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10vw;
    position: absolute;
    left: 25vw;
    top: 42vh;
    z-index: 3;
}

#controlNumber{
    width: 2vw;
}

.controlArrow{
    width: 1.6vw;
}

/* Offres Responsive  */

@media screen and (max-width: 1280px){
    #offresBox{
        height : 63vh;
    }

    #slidesText {
        height: 63vh;
    }

    .slideText {
        height: 63vh;
    }

    .offresText h3{
        font-size: 3.5vw;
        margin: 2% 0 0 4%;
    }

    #slidesImg {
        height: 63vh; 
    }

    .sliderImgBox{
        height: 63vh; 
    }

    #control{
        top: 53vh;
    }
}

 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #offresBox{
        height : 28vh;
    }

    #slidesText {
        height: 28vh;
    }

    .slideText {
        height: 28vh;
    }

    .offresText h3{
        font-size: 3.5vw;
        margin: 2% 0 0 4%;
    }

    #slidesImg {
        height: 28vh; 
    }

    .sliderImgBox{
        height: 28vh; 
    }

    #control{
        top: 24vh;
    } 

    #offresPlus{
        margin-top: 3vh;
    
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #offresBox{
        height : 45vh;
    }

    #slidesText {
        height: 45vh;
    }

    .slideText {
        height: 45vh;
    }

    .offresText h3{
        font-size: 3.5vw;
        margin: 2% 0 0 4%;
    }

    #slidesImg {
        height: 45vh; 
    }

    .sliderImgBox{
        height: 45vh; 
    }

    #control{
        top: 37vh;
    } 

    #offresPlus{
        margin-top: 5vh;
    }
}

@media screen and (max-width: 425px){
    #offresBox{
        /* border: 2px solid green; */
        justify-content: center;
        width: 85vw;
        height: 165vh;
    }

    .offresText h3{
        font-size: 11vw;
    }

    .offresText p{
        font-size: 4.25vw;
    }

    .offresText li{
        font-size: 3.5vw;
    }

    #offresPlus{
        width: 70vw;
        font-size: 3.5vw;
        margin-top: 5vh;
    }

    #slidesText{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 165vh;
    }

    .slideText {
        position: relative;
        height: 51vh;
    }

    #slidesImg{
        display: none;
    }

    #control{
        display: none;
    }
} 

@media screen and (max-width: 375px){
    #offresBox{
        height: 155vh;
        width: 83vw;
    }

    #slidesText{
        height: 155vh;
    }

    .slideText {
        height: 48vh;
    }

}

