/* Timeline */

#timeline {
    width: 10%;
    height: 25%;
    position: fixed;
    top: 40%;
    left: 2%;
    z-index: 10;
}

#timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #3E2278;
    top: 10%;
    bottom: 10%;
    left: 9%;
    z-index: 5;
}

#timeline .timelineContainer {
    position: relative;
    background-color: inherit;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline .timelineContainer .timelineDot {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(221, 137, 122, 0.4);
    transition: background 0.5s ease;
    box-shadow: #ffffff 0px 0px 0px 2px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}

#timeline .timelineContainer .timelineDot:hover {
    background: rgba(221, 137, 122, 1);
    transition: background 0.5s ease;
}

#timeline .timelineContainer .timelineDot.activeDot {
    background: rgba(221, 137, 122, 1);
}

#timeline .timelineContainer .timelineDot .centerDot {
    width: 8px;
    height: 8px;
    background: #3E2278;
    border-radius: 50%;
    z-index: 3;
}

#timeline .timelineContainer .timelineContent {
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    padding: 0 0 0 7%;
    margin: 0;
}

#timeline .timelineContainer .timelineContent .pContent {
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1)
}

#timeline .timelineContainer .timelineContent .pContent.activeContent {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1)
}

#timeline .timelineContainer .timelineContent .pContent.stayContent {
    opacity: 1;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1)
}

/* Responsive Timeline */

@media screen and (max-width: 1024px){
    #timeline::after {
        left: 8%;
    }
}

@media screen and (max-width: 768px){
    #timeline::after {
        left: 8%;
    }
}

@media screen and (max-width: 414px){
    #timeline {
        display: none;
    }
}

@media screen and (max-width: 320px){
    #timeline {
        display: none;
    }
}

/* Scrolldown */

#scrolldown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 14; 
    top: 90vh;
    opacity: 1;
    transition: opacity 1s;
}

#scrolldown img{
    width: 3vw;
    height: 3w;
}

@-webkit-keyframes pulse {
    from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }

    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }

    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Partie Accueil */

#accueil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerPrincipal{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 24vh 0 0 0;
}

#blocCouleur{
    background-color: #DD897A;
    width: 30vw;
    height: 70vh;
    position: absolute;
    top: -3.5vh;
}

#containerPrincipal img{
    z-index: 1;
    position: absolute;
    left: 47vw;
    top: 8vh;
}

#boxInfo{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FACFCE; 
    position: absolute;
    right: 50vw;
    top: 11.5vh;
    z-index: 2;
}

#boxInfo h2{
    color: #3E2278;
    font-weight: 500;
    padding: 2vw;
    font-size: 3em;
}

#boxInfo #boutonViolet{
    font-size: 1.375em;
}

#containerTexte{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25em; 
}

#containerTexte #lieux{
    font-weight: 600;
}

#containerTexte #sentence{
    font-weight: 600;
}

/* Responsive Partie Accueil */

@media screen and (max-width: 1366px){

    #containerPrincipal{
        margin-top: 12vh;
    }

    #blocPhotoAccueil{
        top: 3.5vh;
    }

    #boxInfo #boutonViolet{
        position: absolute;
        top: 25vh;
    }
}

@media screen and (max-width: 1280px){

    #boxInfo h2{
        font-size: 2.7em;
    }

    #blocPhotoAccueil{
        top: 3vh;
    }
}

@media screen and (max-width: 1024px){

    #containerPrincipal{
        min-height: 35vh;
        margin-top: 28vh;
    }

    #blocCouleur{
        background-color: #DD897A;
        width: 100%;
        height: 30vh;
    }

    #boxInfo{
        width: 42vw;
        height: 18vh;
        right: 30vw;
        top: 14vh;
    }

    #boxInfo h2{
        margin-left: 4vw;
        font-size: 3.5em; 
    }

    #blocPhotoAccueil img{
        width: 65vw;
        height: 35vh;
        left: 17vw;
        top: -12vh;
        object-fit: cover;
    }

    #boxInfo #boutonViolet{
        position: absolute;
        top: 12vh;
        font-size: 2em; 
    }

    #containerTexte{
        font-size: 1.7em; 
    }
}

@media screen and (max-width: 414px){
    
    #boxInfo{
        width: 50vw;
        height: 20vh;
        right: 26vw;
        top: 14vh;
    }

    #blocPhotoAccueil img{
        width: 70vw; 
        left: 14vw; 
    }

    #boxInfo h2{
        font-size: 5em; 
    }

    #boxInfo #boutonViolet{
        top: 13vh; 
        padding: 2vw;
        font-size: 3em; 
    }

    #containerTexte{
        font-size: 3em; 
        margin-top: 2vw; 
        text-align: center; 
        padding: 1vw; 
    }
}

@media screen and (max-width: 320px){
    #boxInfo{
        width: 60vw;
        height: 25vh;
        right: 20vw;
        top: 14vh;
    }

    #blocPhotoAccueil img{
        width: 75vw; 
        left: 13vw; 
    }

    #boxInfo h2{
        font-size: 6em; 
    }

    #boxInfo #boutonViolet{
        top: 15vh; 
        padding: 2vw;
        font-size: 4em; 
    }

    #containerTexte{
        font-size: 3.5em; 
        margin-top: 10vw; 
    }
}

  /* Section Piliers */

#piliersSection{
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 12vh 3vw; 
}

#piliersSection h2{
    margin-bottom: 4vh;
}

#piliersTexte{
    width: 70%;
    margin-bottom: 5vh;
    font-size: 1.125em;
}

#piliersContainer{
    width: 100%;
    display: flex;  
}

#piliersContainerResponsive{
    display: none;
}

#leftDiv{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

#centerDiv{
    width: 33%;
    position: relative;
}


#bienManger{
    position: absolute; 
    left: 18vw;
    top: -3vh; 
}

#bienEtre{
    display: none;
    position: absolute; 
    bottom: -11vh; 
    left: -1vw;
}

#bio{
    display: none;
    position: absolute; 
    left: 18vw;
    top: 22vh; 
}

#bienMangerLight{
    display: none;
    position: absolute; 
    left: 18vw;
    top: -3vh;
}

#bienEtreLight{
    display: flex;
    position: absolute; 
    bottom: -11vh; 
    left: -1vw;
}

#bioLight{
    display: flex;
    position: absolute; 
    left: 18vw;
    top: 22vh; 
}

#rightDiv{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

#explication-bienEtre, #explication-biodiversité, #explication-bienManger{
    width: 210px; 
    height: 210px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #FACFCE;
    font-size: 1em;
    padding: 3vw; 
}

#explication-bienEtre{
    opacity: 0; 
}

#explication-biodiversité{
    opacity: 0; 
}

#explication-bienManger{
    opacity: 1; 
}

#leftDiv #explication-biodiversité{
    position: absolute; 
    top: 47vh; 
    left: 32vw;
}

#piliersContainer h3{
    background-color: #674F98;
    color: #ffffff;
    padding: 0.5vh 1vw 0.5vh 1vw;
    font-size: 1.37em ;
    font-weight: 600;
    text-transform: uppercase;
}

/* Responsive Partie Piliers */

@media screen and (max-width: 1366px){
    #piliersSection{
        margin-bottom: 20vh;
        /* margin-left: 5vw; */
    }

    #bienEtre{
        bottom: -13vh; 
    }

    #bienEtreLight{
        bottom: -13vh; 
    }
}

@media screen and (max-width: 1280px){
    #piliersSection{
        margin-bottom: 22vh;
    }

    #bienManger{
        top: -3vh;
    }

    #bienEtre{
        bottom: -10vh;  
    }

    #bio{
        top: 23vh; 
    }

    #bienMangerLight{
        top: -3vh;
    }

    #bienEtreLight{
        bottom: -10vh; 
    }

    #bioLight{
        top: 23vh; 
    }
}

@media screen and (max-width: 1024px){
    #piliersSection{
        margin: 7vh 0 3vh 0; 
    }

    #piliersSection h2{
        font-size: 4em;
    }

    #piliersTexte{
        width: 100%;
        background-color: hsl(0, 80%, 98%);
    }

    #piliersTexte p{
        margin: 5vw;
        font-size: 1.5em; 
    }

    #piliersContainer{
        display: none;
    }

    #piliersContainerResponsive{
        display:flex;
        flex-direction: column;
    }

    #bienEtreResponsive, #bienMangerResponsive, #biodiversiteResponsive{
        display: flex;
        width: 100%;
        margin-bottom: 10vw;
    }

    .explicationPiliers{
        width: 50%;
        background-color: #FACFCE;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw;
    }

    .explicationPiliers p {
        font-size: 1.4em;
    }

    .explicationPiliers h3{
        background-color: #DD897A;
        color: #ffffff;
        text-transform: uppercase;
        padding: 1vw;
        font-size: 2em; 
    }

    .leafContainer{
        width: 50%;
        display:flex;
        justify-content: center;
    }

    #image-bienEtreLightResponsive, #image-bienMangerLightResponsive, #image-bioLightResponsive{
        display: none; 
    }
}

@media screen and (max-width: 768px){
    #piliersSection{
        margin: 7vh 0 25vh 0; 
    }

    .explicationPiliers p{
        font-size: 1.7em; 
    }
}

@media screen and (max-width: 414px){
    #piliersSection h2{
        font-size: 6em; 
    }

    #piliersTexte p{
        font-size: 2.5em; 
    }

    .leafContainer img{
        width: 45vw; 
        object-fit: cover; 
    }

    #bienEtreResponsive, #bienMangerResponsive, #biodiversiteResponsive{
        height: 25vh; 
    }

    .explicationPiliers{
        font-size: 1.5em; 
    }
}

@media screen and (max-width: 320px){
    #piliersSection{
        margin: 7vh 0 35vh 0; 
    } 

    #piliersTexte p{
        font-size: 3em; 
    }

    .explicationPiliers{
        font-size: 1.7em; 
    }

    #bienEtreResponsive, #bienMangerResponsive, #biodiversiteResponsive{
        height: 28vh; 
    }
}

/* Section Potagers */

#quoi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh; 
}

#potagersContent{
    width: 80%;
    display: flex;
    flex-direction: column; 
    position: relative;
    margin-top: 4vh;
}

.potagersBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#potagersBoxSize{
    height: 15vw;
}

#enfantsaupotager{
    margin-left: 8vw; 
}

#potagersText{
    width: 30vw;
    background: #DD897A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    position: absolute;
    margin-left: 35vw;
}

#potagersText p{
    margin: 10px;
}

#commentBox{
    margin-left: 11vw; 
    margin-top: 8vh; 
}

#potagersArrow{
    position: absolute;
    left: 48vw;
    top: 60vh;
}

#potagersArrowRes{
    display: none;
    position: absolute;
    left: 48vw;
    top: 60vh;
}

/* Responsive section Potagers */

@media screen and (max-width: 1366px){
    #potagersText{
        margin-left: 37vw;
    }

    #potagersArrow{
        top: 65vh; 
    }
}

@media screen and (max-width: 1280px){
    #potagersArrow{
        top: 68vh;
    }

    #commentBox{
        margin-left: 13vw; 
        margin-top: 11vh;
    }
}

@media screen and (max-width: 1024px){
    #potagers h2{
        font-size: 4em;
    }

    .potagersBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #potagersBoxSize{
        height: auto;
    }

    #enfantsaupotager{
        margin-left: 0vw; 
        width: 50vw;
        height: 50vw;
        object-fit: cover;
    }

    #potagersText{
        width: 48vw;
        margin-left: 12vw;
        margin-top: 29vw;
    }

    #potagersText p{
        font-size: 1.4em;
    }

    #potagersArrow{
        top: 54vh; 
    }

    #commentBox{
        height: 8vh;
        width: 45%; 
        margin-left: -26vw; 
        margin-top: 30vh;
    }

    #commentBox p{ 
        font-size: 2em;
    }
}

@media screen and (max-width: 768px){

    #enfantsaupotager{
        width: 60vw;
        height: 60vw;
    }

    #potagersText{
        width: 50vw;
        margin-left: 15vw;
        margin-top: 38vw;
    }

    #potagersText p{
        font-size: 1.7em;
    }

    #commentBox{
        margin-top: 36vh;
    }

    #commentBox p {
        font-size: 2.5em;
    }

    #gribouillis{
        width: 20vw;
    }

    #potagersArrow{
        width: 20vw;
        height: 20vw;
        top: 68vh; 
    }
}

@media screen and (max-width: 414px){
    #potagers h2{
        font-size: 6em;
    }

    #potagers{
        width: 100%;
    }

    #potagersText p{
        font-size: 3em; 
        padding: 1vw; 
    }

    #potagersText{
        margin-left: 0vw;
        margin-top: 90vw;
        width: 100vw;
        padding: 5vw;
    }

    #potagersArrow{
        display: none;
    }

    #commentBox{
        padding: 5vw;
        margin-left: 6vw;
        margin-top: 60vh;
        width: 70%;
    }

    #commentBox p {
        font-size: 5em;
        margin: 0;
    }

    #gribouillis{
        width: 40vw;
    }

    #enfantsaupotager{
        width: 80vw;
        height: 80vw;
    }
}

@media screen and (max-width: 320px){
    #potagers h2{
        font-size: 6.5em;
    }

    #potagersText p{
        font-size: 3.5em;
    }

    #potagersText{
        margin-left: 0vw;
        margin-top: 110vw;
        width: 100vw;
        padding: 5vw;
    }

    #enfantsaupotager{
        width: 80vw; 
        height: 80vw; 
    }

    #commentBox{
        margin-top: 75vh;
        width: 80%;
    }

    #commentBox p {
        font-size: 6em;
        margin: 0;
    }

    #gribouillis{
        width: 50vw;
    }
}

/* Section Potagers - Comment ça marche? */

#comment{
    position: relative;
    width: 100%; 
}

#pinkBlock{
    background-color: #FDEDED;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 33.5vh;  
}

#commentçamarche{
    width: 80vw;
    height: 100vh;
    display: flex;
    margin-left: 13vw;
}

#commentçamarche .commentStep{
    height: 80vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

#commentçamarche .commentStep h3{
    font-size: 1.37em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #DD897A;
    color: #ffffff;
    padding: 0.5vh 1vw 0.5vh 1vw; 
    position: absolute;
    right: 16vw;
}

#commentçamarche .commentStep .commentImg{
    border-radius: 50%;
    width: 19.4vw; 
    height: 19.4vw; 
    object-fit: cover; 
}

#commentçamarche .commentStep p{
    margin-top: 4vh;
    text-align: center;
    padding: 0.5vh 3vw;
}

#step1{
    align-self: flex-end;
}

#step2{
    align-self: center;
}

#step3{
    align-self: flex-start;
}

/* Section Potagers - Comment ça marche? Responsive */

@media screen and (max-width: 1024px){
    #commentçamarche{
        height: 60vh;
        margin-left: 8vw;
    }

    #commentçamarche .commentStep{
        height: 40vh;
        margin-left: 3vw;
    }

    #pinkBlock{
        height: 20vh;
        position: absolute;
        top: 20vh;   
    }

    #commentçamarche .commentStep .commentImg{
        width: 25vw; 
        height: 25vw; 
    }

    #commentçamarche .commentStep h3{
        font-size: 1.5em;
        padding: 1vw;
        right: 18vw;    
    }


    #commentçamarche #step1 h3{
        top: 17vh; 
    }

    #commentçamarche #step2 h3{
        top: 17vh; 
    }

    #commentçamarche #step3 h3{
        top: 18vh; 
    }

    #commentçamarche .commentStep p{
        margin-top: 1.5vh;
        font-size: 1.3em;
        padding: 0.5vh 1vw;
    }
}

@media screen and (max-width: 768px){
    #commentçamarche{
        height: 60vh;
        margin-left: 5vw;
    }

    #commentçamarche .commentStep .commentImg{
        width: 27vw; 
        height: 27vw; 
    }

    #pinkBlock{
        height: 22vh;
        top: 19vh;   
    }

    #commentçamarche .commentStep h3{
        font-size: 1.7em;   
    }

    #commentçamarche #step1 h3{
        top: 20vh; 
        right: 15vw;
    }

    #commentçamarche #step2 h3{
        top: 20vh; 
        right: 19vw;
    }

    #commentçamarche #step3 h3{
        top: 20vh; 
        right: 19vw;
    }

    #commentçamarche .commentStep p{
        font-size: 1.5em;
        padding: 0;
    }
}

@media screen and (max-width: 414px){
    #comment{
        margin-top: 10vh;
        height: 200vh; 
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    #commentçamarche{
        display: flex;
        width: 100%;
        height: 200vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0vw;
    }

    #commentçamarche .commentStep{
        height: 100vh;
        width: 60%;
    }

    #commentçamarche .commentStep .commentImg{
        width: 70vw; 
        height: 70vw; 
    }

    #step1{
        align-self: center;
    }
    
    #step2{
        align-self: center;
    }
    
    #step3{
        align-self: center;
    }

    #pinkBlock{
        top:0vh;
        height: 200vh;
        width: 60%;  
    }

    #commentçamarche .commentStep h3{
        font-size: 5em;   
    }

    #commentçamarche #step1 h3{
        top: 35vh; 
        right: 24vw;
        padding: 2vw;
    }

    #commentçamarche #step2 h3{
        top: 35vh; 
        right: -10vw;
        padding: 2vw 6vw 2vw 6vw;
    }

    #commentçamarche #step3 h3{
        top: 40vh; 
        right: 32vw;
        padding: 2vw 6vw 2vw 6vw;
    }

    #commentçamarche .commentStep p{
        font-size: 4em;
        padding: 0;
    }
}

@media screen and (max-width: 320px){
    #comment{
        height: 235vh; 
    }

    #pinkBlock{
        top: 0vh;
        height: 230vh;
        width: 60%;  
    }

    #commentçamarche{
        margin-top: 5vh;
    }

    #commentçamarche .commentStep{
        margin-bottom: 10vh;
    }

    #commentçamarche .commentStep .commentImg{
        width: 75vw; 
        height: 75vw; 
    }

    #commentçamarche .commentStep h3{
        font-size: 6em;   
    }

    #commentçamarche #step1 h3{
        top: 36vh; 
        right: 17vw; 
        padding: 2vw;
    }

    #commentçamarche #step2 h3{
        top: 36vh; 
        right: -15vw;
        padding: 2vw 6vw 2vw 6vw;
    }

    #commentçamarche #step3 h3{
        top: 41vh; 
        right: 30vw;
        padding: 2vw 6vw 2vw 6vw;
    }

    #commentçamarche .commentStep p{
        font-size: 4em;
        padding: 0;
    }
}

/* Section Potagers - Icônes */

#icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    width: 80%; 
    margin-left: 10vw;
}

.iconeBox{
    height: 70vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.iconeImg{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.iconeImg img{
    width: 90%; 
}

.iconeTitle{
    font-family: 'Indie Flower', cursive;
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125em; 
}

.iconeParagraph{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1024px){
    #icones{
        height: 45vh;
        margin-left: 0vw;
    }

    .iconeBox{
        height: 50vh;
    }

    .iconeImg img{
        width: 100%; 
    }

    .iconeTitle{
        font-size: 1.5em; 
    }
    
    .iconeParagraph p{
        font-size: 1.125em;
    }
}

@media screen and (max-width: 768px){
    #icones{
        height: 50vh;
    }

    .iconeImg img{
        width: 90%; 
    }

    .iconeTitle{
        font-size: 1.8em; 
    }

    .iconeParagraph p{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 414px){
    #icones{
        height: 80vh;
        width: 60vw;
        flex-flow: column wrap;
        justify-content: center;
    }

    .iconeBox{
        align-items: center;
        height: 30vh;
        width: 50%;
    }

    .iconeImg img{
        width: 80%; 
    }

    .iconeTitle{
        font-size: 3em;
    }

    .iconeParagraph p{
        display: none;
    }

    #adapteIcone{
        margin-top: 4vh;
    }

    #personnalisableIcone{
        margin-top: 3vh;
    }
}

@media screen and (max-width: 320px){
    #icones{
        height: 80vh;
        width: 80vw;
    }

    .iconeImg img{
        width: 80%; 
    }

    .iconeTitle{
        font-size: 4em;
    }

    #adapteIcone{
        margin-top: 6vh;
    }
}

/* Section Nos formules */

#formules{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Offres.jpg);
    background-size: cover;
}

#offres{
    width: 75%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#classique, #decouverte, #essentielle{
    width: 17.5vw;
    height: 40vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center; 
    padding: 9vh 2vw 4vh 2vw; 
    margin-top: 3vw;
    font-size: 1.125em;
}

.formuleText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#classique{
    background-color: #FACFCE;
}

#decouverte{
    background-color: #DD897A;
}

#essentielle{
    background-color: #AC9FC6;
}

#offres h3{
    font-size: 2.750vw; 
    font-weight: 600;
    margin: 0; 
    text-transform: uppercase;
}

.hour{
    font-size: 1.300em;
    font-weight: 600;  
    margin-top: 2vh; 
}

@media screen and (max-width: 1280px){
    #classique, #decouverte, #essentielle{
        height: 50vh;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #formules{
        height: 45vh;
    }

    #offres{
        height: 45vh;
    }

    #classique, #decouverte, #essentielle{
        height: 20vh;
        width: 17vw;
        padding: 6vh 2vw 2vh 2vw; 
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){    
    #formules{
        height: 80vh;
    }

    #offres{
        height: 80vh;
    }

    #classique, #decouverte, #essentielle{
        height: 37vh;
    }
}

@media screen and (max-width: 425px){
    #formulesTitle{
        font-size: 6vw;
    }

    #formules{
        height: 70vh;
    }

    #offres{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #offres h3{
        font-size: 7.5vw;
    }

    #classique, #decouverte, #essentielle{
        height: 30vh;
        width: 43%;
        flex: 0 0 auto;
        font-size: 4.5vw;
        text-align: center;
        padding: 6vh 2vw 4vh 2vw; 
    }   

    #classique{
        margin: 0 15%;
    }

    #decouverte{
        margin-right: 15%;
    }

    #classique .lirePlus{
        width: 18vw;
        height: 18vw;
    }

    #classique .lirePlus p{
        font-size: 0.8em;
    }

    #decouverte .lirePlus{
        width: 18vw;
        height: 18vw;
    }

    #decouverte .lirePlus p{
        font-size: 0.8em;
    }

    #essentielle .lirePlus{
        width: 18vw;
        height: 18vw;
    }

    #essentielle .lirePlus p{
        font-size: 0.8em;
    }    
}

@media screen and (max-width: 375px){
    #formulesTitle{
        font-size: 6vw;
    }

    #formules{
        height: 80vh;
    }

    #offres{
        height: 80vh;;
    }

    #offres h3{
        font-size: 7.750vw;
    }

    #classique, #decouverte, #essentielle{
        height: 40vh;
        width: 48%;
        font-size: 5.5vw; 
    }   

    #classique{
        margin: 0 15%;
    }

    #decouverte{
        margin-right: 15%;
    }

    #classique .lirePlus{
        width: 20vw;
        height: 20vw;
    }

    #classique .lirePlus p{
        font-size: 1em;
    }

    #decouverte .lirePlus{
        width: 20vw;
        height: 20vw;
    }

    #decouverte .lirePlus p{
        font-size: 1em;
    }

    #essentielle .lirePlus{
        width: 20vw;
        height: 20vw;
    }

    #essentielle .lirePlus p{
        font-size: 1em;
    }    
}

/* Section Supplément */

#supplement{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw; 
}

#supplement p {
    width: 35vw;
    font-size: 1.125em;
    text-align: center;
}

#sectionSupplement{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    position: relative;
}

#containerMallette{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerEvenements{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerMallette, #containerEvenements p{
    text-align: center;
}

#imageMallette, #imageEvenement{
    margin-top: 3vh;
}

#imageMallette img{
    border-radius: 50%;
    width: 19.4vw; 
    height: 19.4vw; 
    object-fit: cover; 
}

#imageEvenement img{
    border-radius: 50%;
    width: 19.4vw; 
    height: 19.4vw; 
    object-fit: cover; 
}

#imageMallette button {
    position: absolute;
    bottom: 24vh; 
    left: 29vw; 
}

#imageEvenement button {
    position: absolute;
    bottom: 24vh; 
    left: 64vw; 
}

/* Responsive Suppléments */

@media screen and (max-width: 1024px){
    #supplement{
        height: 55vh;
    }

    #containerMallette h2{
        font-size: 4em;
    }

    #containerEvenements h2{
        font-size: 4em;
    }

    #supplement p {
        width: 50vw;
        font-size: 1.8em;
        text-align: none;
    }

    #imageMallette img{
        border-radius: 50%;
        width: 24vw; 
        height: 24vw; 
        object-fit: cover; 
    }
    
    #imageEvenement img{
        border-radius: 50%;
        width: 24vw; 
        height: 24vw; 
        object-fit: cover; 
    }

    #imageMallette .lirePlus{
        width: 8vw;
        height: 8vw;
    }

    #imageEvenement .lirePlus{
        width: 8vw;
        height: 8vw;
    }

    #imageMallette .lirePlus p{
        font-size: 1em;
    }

    #imageEvenement .lirePlus p{
        font-size: 1em;
    }

    #imageMallette button {
        bottom: 6vh; 
        left: 21vw; 
    }
    
    #imageEvenement button {
        bottom: 6vh; 
        left: 71vw; 
    }
}

@media screen and (max-width: 768px){
    #supplement{
        height: 60vh;
    }

    #imageMallette button {
        bottom: 10vh; 
        left: 21vw; 
    }
    
    #imageEvenement button {
        bottom: 10vh; 
        left: 71vw; 
    }
}

@media screen and (max-width: 414px){
    #sectionSupplement{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 3vh;
    }

    #supplement{
        height: 155vh;
    }

    #supplement p {
        width: 90vw;
        font-size: 3.5em;
    }
    
    #containerEvenements{
        margin-top: 7vh;
    }

    #containerMallette h2{
        font-size: 6em;
    }

    #containerEvenements h2{
        font-size: 6em;
    }

    #imageMallette, #imageEvenement{
        margin-top: 2vh;
    }

    #imageMallette img{
        width: 70vw; 
        height: 70vw; 
    }
    
    #imageEvenement img{
        width: 70vw; 
        height: 70vw; 
    }

    #imageMallette .lirePlus{
        width: 21vw;
        height: 21vw;
    }

    #imageEvenement .lirePlus{
        width: 21vw;
        height: 21vw;
    }

    #imageMallette .lirePlus p{
        font-size: 1em;
    }

    #imageEvenement .lirePlus p{
        font-size: 1em;
    }

    #imageMallette button {
        bottom: 45vh; 
        left: 40vw; 
    }
    
    #imageEvenement button {
        bottom: -22vh; 
        left: 40vw; 
    }
}
