
/* Partie Accueil */

#accueil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerPrincipal{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 12vh 0 0 0;
}

#blocCouleur{
    background-color: #DD897A;
    width: 30vw;
    height: 70vh;
    position: absolute;
    top: -3.5vh;
}

#blocPhotoAccueil{
    position: absolute;
    width: 45vw;
    height: 57vh;
    left: 47vw;
    top: 3vh;
    object-fit: cover;
    z-index: 1;
}

#blocPhotoAccueil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#boxInfo{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FACFCE; 
    position: absolute;
    right: 50vw;
    top: 11.5vh;
    z-index: 2;
}

#boxInfo h2{
    color: #3E2278;
    font-weight: 500;
    padding: 2vw;
    font-size: 3em;
}

#boxInfo #boutonViolet{
    font-size: 1.375em;
}

#containerTexte{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25em; /*Changement*/
}

#containerTexte #lieux{
    font-weight: 600;
}

#containerTexte #sentence{
    font-weight: 600;
}

/* Responsive Partie Accueil */

@media screen and (max-width: 1366px){

    #containerPrincipal{
        margin: 12vh 0 0 0;
    }

    #blocPhotoAccueil{
        top: 3.5vh;
    }

    #boxInfo #boutonViolet{
        position: absolute;
        top: 25vh;
    }
}

@media screen and (max-width: 1280px){

    #boxInfo h2{
        font-size: 2.7em;
    }

    #blocPhotoAccueil{
        top: 3vh;
    }
}

@media screen and (max-width: 1024px){

    #containerPrincipal{
        min-height: 35vh;
        margin: 20vh 0 0 0;
    }

    #blocCouleur{
        background-color: #DD897A;
        width: 100%;
        height: 30vh;
    }

    #boxInfo{
        width: 42vw;
        height: 18vh;
        right: 30vw;
        top: 14vh;
    }

    #boxInfo h2{
        margin-left: 4vw;
    }

    #blocPhotoAccueil{
        width: 65vw;
        height: 35vh;
        left: 17vw;
        top: -12vh;
    }

    #boxInfo #boutonViolet{
        position: absolute;
        top: 12vh;
    }
}

@media screen and (max-width: 768px){
    #boxInfo h2{
        font-size: 2em;
    }

    #containerTexte{
        font-size: 1em; 
    }
}

@media screen and (max-width: 414px){
    #boxInfo h2{
        font-size: 1.125em;
    }

    #boxInfo #boutonViolet{
        font-size: 0.875em;
        padding: 2vw;
    }

    #containerTexte{
        font-size: 1em; /*Changement*/
    }
}

@media screen and (max-width: 320px){
    #boxInfo h2{
        font-size: 0.875em;
    }

    #boxInfo #boutonViolet{
        font-size: 0.6em;
        padding: 2vw;
    }

    #containerTexte{
        font-size: 0.875em; /*Changement*/
    }
}


  /* Section Piliers */

#piliersSection{
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 20vh 3vw; /*Changement*/
}

#piliersSection h2{
    margin-bottom: 4vh;
}

#piliersTexte{
    width: 70%;
    margin-bottom: 5vh;
    font-size: 1.125em;
}

#piliersContainer{
    width: 100%;
    display: flex;  
}

#piliersContainerResponsive{
    display: none;
}

#leftDiv{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

#centerDiv{
    width: 33%;
    position: relative;
}


#bienManger{
    position: absolute; 
    left: 18vw;
    top: -3vh; /*Changement*/
}

#bienEtre{
    display: none;
    position: absolute; 
    bottom: -11vh; 
    left: -1vw;
}

#bio{
    display: none;
    position: absolute; 
    left: 18vw;
    top: 22vh; 
}

#bienMangerLight{
    display: none;
    position: absolute; 
    left: 18vw;
    top: -3vh;
}

#bienEtreLight{
    display: flex;
    position: absolute; 
    bottom: -11vh; 
    left: -1vw;
}

#bioLight{
    display: flex;
    position: absolute; 
    left: 18vw;
    top: 22vh; 
}

#rightDiv{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

#explication-bienEtre, #explication-biodiversité, #explication-bienManger{
    width: 200px; /*Changement*/
    height: 200px; /*Changement*/
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; /*Changement*/
    background-color: #FACFCE;
    font-size: 1em;
    padding: 3vw; /*Changement*/
}

#explication-bienEtre{
    opacity: 0; 
}

#explication-biodiversité{
    opacity: 0; 
}

#explication-bienManger{
    opacity: 1; 
}

#leftDiv #explication-biodiversité{
    position: absolute; 
    top: 49vh; /*Changement*/
    left: 32vw; /*Changement*/
}

#piliersContainer h3{
    background-color: #674F98;
    color: #ffffff;
    padding: 0.5vh 1vw 0.5vh 1vw;
    font-size: 1.37em ;
    font-weight: 600;
    text-transform: uppercase;
}
/* 
#bienManger:hover + #bienMangerLight{
    display: flex;
}

#bienManger:hover {
    display: none;
} */

/* Responsive Partie Piliers */

@media screen and (max-width: 1366px){
    #piliersSection{
        margin-bottom: 20vh;
        margin-left: 5vw;
    }

    #bienEtre{
        bottom: -13vh; 
    }

    #bienEtreLight{
        bottom: -13vh; 
    }
}

@media screen and (max-width: 1280px){
    #piliersSection{
        margin-bottom: 22vh;
    }

    #bienManger{
        width: 55%;
        top: -3vh;
    }

    #bienEtre{
        width: 75%;
        bottom: -10vh;  
    }

    #bio{
        width: 62%;
        top: 23vh; 
    }

    #bienMangerLight{
        width: 55%;
        top: -3vh;
    }

    #bienEtreLight{
        width: 55%;
        bottom: -10vh; 
    }

    #bioLight{
        width: 55%;
        top: 23vh; 
    }
}

@media screen and (max-width: 1024px){
    #piliersSection{
        margin: 7vh 0 3vh 0; /*Changement*/
    }

    #piliersTexte{
        width: 100%;
        background-color: hsl(0, 80%, 98%);
    }

    #piliersTexte p{
        margin: 5vw;
    }

    #piliersContainer{
        display: none;
    }

    #piliersContainerResponsive{
        display:flex;
        flex-direction: column;
    }

    #bienEtreResponsive, #bienMangerResponsive, #biodiversiteResponsive{
        display: flex;
        width: 100%;
        margin-bottom: 10vw;
    }

    .explicationPiliers{
        width: 50%;
        background-color: #FACFCE;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw;
    }

    .explicationPiliers h3{
        background-color: #DD897A;
        color: #ffffff;
        text-transform: uppercase;
        padding: 1vw;
    }

    .leafContainer{
        width: 50%;
        display:flex;
        justify-content: center;
    }

    #image-bienEtreLightResponsive, #image-bienMangerLightResponsive, #image-bioLightResponsive{
        display: none; 
    }
}

@media screen and (max-width: 768px){
    #piliersSection{
        margin: 7vh 0 25vh 0; /*Changement*/
    }

    #piliersTexte p{
        font-size: 1.06em;
    }
}

@media screen and (max-width: 414px){
    #piliersSection{
        margin: 7vh 0 70vh 0; /*Changement*/
    }  

    #piliersTexte p{
        font-size: 1em;
    }
}

@media screen and (max-width: 320px){
    #piliersSection{
        margin: 7vh 0 110vh 0; /*Changement*/
    } 

    #piliersTexte p{
        font-size: 0.875em;
    }

    .explicationPiliers h3{
        font-size: 1.5em;
    }

    .explicationPiliers p {
        font-size: 0.875em;
    }
    
}



/* Section Potagers */

#potagers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh; /*Changement*/
}

#potagersContent{
    width: 80%;
    display: flex;
    flex-direction: column; 
    position: relative;
    margin-top: 4vh; /*Changement*/
}

.potagersBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#potagersBoxSize{
    height: 15vw;
}

#enfantsaupotager{
    margin-left: 8vw; 
}

#potagersText{
    width: 30vw;
    background: #DD897A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    position: absolute;
    margin-left: 35vw;
}

#potagersText p{
    margin: 10px;
}

#commentBox{
    margin-left: 11vw; /*Changement*/
    margin-top: 8vh; /*Changement*/
}

#potagersArrow{
    position: absolute;
    left: 48vw;
    top: 60vh; /*Changement*/
}

/* Section Potagers - Comment ça marche? */

#comment{
    position: relative;
    width: 100%;
}

#pinkBlock{
    background-color: #FDEDED;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 33.5vh;   
}

#commentçamarche{
    width: 80vw;
    height: 100vh;
    display: flex;
    margin-left: 13vw;
}

#commentçamarche .commentStep{
    height: 80vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

#commentçamarche .commentStep h3{
    font-size: 1.37em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #DD897A;
    color: #ffffff;
    padding: 0.5vh 1vw 0.5vh 1vw; 
    position: absolute;
    right: 16vw; /*Changement*/
}

#commentçamarche .commentStep .commentImg{
    border-radius: 50%;
    width: 280px; /*Changement*/
    height: 280px; /*Changement*/
    object-fit: cover; /*Changement*/
}

#commentçamarche .commentStep p{
    margin-top: 4vh;
    text-align: center;
    padding: 0.5vh 3vw;
}

#step1{
    align-self: flex-end;
}

#step2{
    align-self: center;
}

#step3{
    align-self: flex-start;
}

/* Section Potagers - Icônes */

#icones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh; /*Changement*/
    width: 80%; 
    margin-left: 10vw;
}

.iconeBox{
    height: 70vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.iconeImg{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.iconeImg img{
    width: 90%; /*Changement*/
}

.iconeTitle{
    font-family: 'Indie Flower', cursive;
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125em; /*Changement*/
}

.iconeParagraph{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
}

  /* Section Nos formules */

#formules{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Offres.jpg);
}

#offres{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#découverte, #essentielle, #incontournable{
    width: 18vw;
    height: 40vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 11vh 2vw 2vh 2vw; /*Changement*/
    margin-top: 3vw;
    font-size: 1.125em;
}

#découverte{
    background-color: #FACFCE;
    margin-right: 6vw;
    margin-left: 8vw;
}

#essentielle{
    background-color: #DD897A;
    margin-right: 6vw;
}

#incontournable{
    background-color: #AC9FC6;
}

h3{
    font-size: 1.700em; 
    font-weight: 600;
    margin: 0; 
}

.price{
    font-size: 1.300em;
    font-weight: 600;  
    margin-top: 2vh; 
}

@media screen and (max-width: 800px){}

/* Section Supplément */

#supplement{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw; /*Changement*/
    
}

#supplement p {
    width: 35vw;
    font-size: 1.125em;
    text-align: center;
}

#sectionSupplement{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    position: relative;
}

#containerMallette{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerEvenements{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerMallette, #containerEvenements p{
    text-align: center;
}

#imageMallette, #imageEvenement{
    margin-top: 3vh;
}

#imageMallette img{
    border-radius: 50%;
    object-fit: cover; /*Changement*/
}

#imageEvenement img{
    border-radius: 50%;
    object-fit: cover; /*Changement*/
}

#imageMallette button {
    position: absolute;
    bottom: 18vh; /*Changement*/
    left: 30vw; /*Changement*/
}

#imageEvenement button {
    position: absolute;
    bottom: 18vh; /*Changement*/
    left: 65vw;
}

