/* Section Potagers */

#potagers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#potagersContent{
    width: 80%;
    display: flex;
    flex-direction: column; 
    position: relative;
}

.potagersBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#comment{
    height: 15vw;
}

#enfantsaupotager{
    margin-left: 8vw; 
}

#potagersText{
    width: 30vw;
    background: #DD897A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    position: absolute;
    margin-left: 35vw;
}

#potagersText p{
    margin: 10px;
}

#commentBox{
    margin-left: 12vw;
}

#potagersArrow{
    position: absolute;
    margin-left: 48vw;
    margin-top: -20vh;
}

/* Section Potagers - Comment ça marche? */

#comment{
    width: 100%;
    position: relative;
}

#pinkBlock{
    background-color: #FDEDED;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 34vh;
    
}

#commentçamarche{
    width: 80vw;
    height: 100vh;
    display: flex;
    margin-left: 13vw;
}

#commentçamarche .commentStep{
    height: 80vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

#commentçamarche .commentStep h3{
    font-size: 1.37em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #DD897A;
    color: #ffffff;
    padding: 0.5vw 1vw 0.5vw 1vw;
    position: absolute;
    right: 15vw;
}

#commentçamarche .commentStep .commentImg{
    border-radius: 50%;
    width: 18vw;
    height: 40vh;
}

#commentçamarche .commentStep p{
    margin-top: 4vh;
    text-align: center;
    padding: 0.5vw 3vw;
}

#step1{
    align-self: flex-end;
}

#step2{
    align-self: center;
}

#step3{
    align-self: flex-start;
}

