/* Section Potagers */

#potagers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#potagersContent{
    width: 80%;
    display: flex;
    flex-direction: column; 
    position: relative;
}

.potagersBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#comment{
    height: 15vw;
}

#enfantsaupotager{
    margin-left: 8vw; 
}

#potagersText{
    width: 30vw;
    background: #DD897A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    position: absolute;
    margin-left: 35vw;
}

#potagersText p{
    margin: 10px;
}

#commentBox{
    margin-left: 12vw;
}

#potagersArrow{
    position: absolute;
    margin-left: 48vw;
    margin-top: -20vh;
}

/* Section Potagers - Comment ça marche? */

#commentçamarche{
    border: 3px solid salmon;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#commentçamarche .commentStep{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#commentçamarche .commentStep .commentImg{
    size: 100%;
    border-radius: 50%;
    width: 20vw;
    height: 45vh;
}

