body {
    width: auto;
    height: auto;
    margin : 0; 
    padding: 0; 
    text-decoration: none;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    color: #3E2278;
}

h2{
    font-family: 'Indie Flower', cursive;
    color: #DD897A;
    font-size: 3em;
}

/* Section Potagers */

#potagers{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#potagersContent{
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#potagersText{
    border: 2px solid blue;
    width: 30vw;
    background: #DD897A ;
}

.potagersBox{
    display: flex;
    flex-direction: column;
}